*{
    margin:0;
    padding:0;
     background-color: #111111;
     font-family: 'Inter Tight', sans-serif;
     color:blueviolet;
}

h2{
  color:white;
  text-align: left;
  padding:20px 50px;
  font-size: 24px;
  color:blueviolet;
  font-weight: 200;
}

.conatiner{
    position:relative;
    top:30px;
    margin:auto; 
}

.studentForm{
    display:grid;
    grid-template-columns: repeat(3,30%);
    column-gap:20px;
    row-gap:20px;
    padding:20px;
    margin:auto;
}

.studentForm input{
    margin-left:30px;
    padding:10px;
    /* max-width:300px; */
    border:1px solid white;
    color:palegreen;
}

#studentForm input[type="text"],
#studentForm input[type="number"],
#studentForm input[type="email"],
#studentForm input[type="tel"] {
  width: 300px;
  margin-bottom: 10px;
}

.btn{
background-color: white;
color:blueviolet;
margin-left:30px;
font-weight: 600;
padding:10px 20px;
width:300px;
}

.search input{
    width:88%;
    margin:20px 20px 20px 50px;
    border:1px solid white;
    padding:10px ;
    outline:none;
    color:white;
}

/* .search input::placeholder { 
    color: violet;
    opacity: 1; 
  } */

.table{   
    width:90%;
    margin:20px 50px ;
    /* border:1px solid white ; */
    border-collapse: collapse;
    border:1px solid white ;   
    text-align: left;
    
    /* padding:10px; */
}

th{
    border:1px solid white ; 
    background-color:rgba(245, 245, 245, 0.712);
}

td,th{ 
    text-align: left;
    padding:10px;
}


table,td,tr{  
    padding:10px;
    text-align: left;
    border:1px solid white ; 
    background-color:whitesmoke;
}

.table .name{
    column-span:3;
}

.degree td{
    border:none;
}

.email, .name{
    column-count: 3;
}